// Hide genesys controls
.gcb-startBtnsContainer {
  // Override inline styles
  display: none !important;
} 

// Override genesys styles
.gwc-chat-embedded-window {
  border: 1px solid $color-black;
}

.gwc-chat-control {
  height: unset;
  width: unset;
}

.gwc-chat-window-controls {
  float: unset;
}

.gwc-chat-head {
  display: flex;
  flex-flow: row-reverse wrap;
  background: $color-bus;
  color: $color-white;
  align-items: center;
  justify-content: space-around;
}

.palvelukeskus-genesys-wrapper {
  bottom: 0;
  position: fixed;
  right: 0;
  z-index: 1;
}

.palvelukeskus-genesys__title {
  @include font('body');

  // Default margin breaks flex layout
  margin-top: 0;
}

.palvelukeskus-genesys__chat-open {
  background-color: $color-black;
  border: 2px solid $color-white;
  border-radius: $spacing-half;
  color: $color-white;
  cursor: pointer;
  padding: $spacing-half $spacing;

  @include font('body');
}

.palvelukeskus-gensys__controls-container {
  display: flex;
  flex-flow: row wrap;
  margin-top: $spacing;
}

.palvelukeskus-genesys__control:first-child {
  margin-right: $spacing;
}

.palvelukeskus-genesys__control {
  @include hds-button-colors-on-dark-bg();

  margin-bottom: $spacing;
}

.palvelukeskus-genesys__authentication-confirmation {
  background-color: $color-black;
  border: 2px solid $color-white;
  border-radius: $spacing-half;
  color: $color-white;
  padding: $spacing;
}

.palvelukeskus-genesys {
  visibility: visible;
}

// Styles depending on chat state
.palvelukeskus-genesys__chat-open {
  display: none;
}

.chat-hidden .palvelukeskus-genesys__chat-open {
  display: inline;
}

.chat-hidden .palvelukeskus-genesys__authentication-confirmation {
  display: none;
}

.palvelukeskus-genesys__transfer-message {
  display: none;
}

.authenticating .palvelukeskus-genesys__transfer-message {
  display: inline;
}

.authenticating .palvelukeskus-genesys__verification-message {
  display: none;
}

.is-authenticated .palvelukeskus-genesys__authentication-confirmation {
  display: none;
}

// Chat message styles

